* {
  margin: 0;
  padding: 0;
}
#container {
  background-color: #EE5D4F;
  height: 100vh;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
#header {
  padding-top: 20px;
  text-align: center;
  font-size: 55px;
}
#restTime, #workTime {
  text-align: center;
  padding-top: 30px;
}
#restTime h1, #workTime h1 {
  display: inline-block;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#timer {
  text-align: center;
  padding-top: 30px;
}
#timer #time {
  font-size: 90px;
  margin-bottom: 25px;
}
#timer #reset, #timer #start {
  border: 5px solid white;
  font-size: 30px;
}
#timer #start {
  margin-bottom: 5px;
}
#restPlus:hover, #restMinus:hover, #workPlus:hover, #workMinus:hover, #reset:hover, #start:hover {
  cursor: pointer;
}
#restPlus:active, #restMinus:active, #workPlus:active, #workMinus:active, #reset:active, #start:active {
  background-color: #fff;
  -webkit-user-select: none;
}